<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>say yes 33</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <!--<div class="container-fluid">
        <nav class="nav"><a href="">aaa</a></nav>
    </div>-->

    <div class="container">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <div class="panel panel-primary" id='app'>
                    <div class="panel-heading">
                        Say Yes!
                    </div>
                    <div class="panel-body">
                        <form v-on:submit.prevent='doSomethingSayYes(sayYes)'>
                            <div class="form-group">
                                <input type="text" class='form-control' placeholder="一些事情" v-model='sayYes.something'>
                            </div>
                            <div class="form-group">
                                <button type="submit" class='btn  btn-success'>Yes</button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                 你已经说了  {{Yeses.length}} 次yes
                 <a class='btn btn-primary' v-if='Yeses.length>2' href='info.html'>查看成就 </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            Yeses: [],
            sayYes: {
                date: null,
                something: null
            }
        },
        methods: {
            doSomethingSayYes: function (sayYes) {
                sayYes.date = new Date();
                this.Yeses.push(sayYes);
                this.sayYes = {
                    date: null,
                    something: null
                };
            }
        }
    })
</script>

</html>